{% extends 'inventory/base.html' %}
{% block cssblock %}

{% endblock %}

{% block bodyBlock %}
<div class="container">
    <div class="row justify-content-center ">
        <div class="col-md-offset-5 col-md-4 text-center">
            <h1 class='text-white'>Finance</h1>
            {% for message in messages %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                   {{ message }}
                   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
              <div class="form-login "></br>
                <h4>Rest Password</h4>
                </br>
                <form method="POST">
                  {% csrf_token %}
                  <input type="email" id="userName" name="forgetEemail" class="form-control input-sm chat-input" value="{{email}}" placeholder="Email" required autocomplete=""/>
                  </br>
                  <div class="wrapper">
                          <span class="group-btn">
                              <button type="submit" class="btn btn-danger btn-md">Send <i class="fa fa-sign-in"></i></button>
                          </span>
                  </div>
                </form>
            </div>
        </div>
    
        <div class="text-center mt-4">
          <a href="/" > <p>Click Here to <b>Login</b></p> </a>
        </div>
  
    </div>
  </div>
{% endblock %} 

{% block jsblock %}

{% endblock %}