{% extends 'inventory/homebase.html'%}
{% load static %}

<!-------START CSSBLOCK-->
{% block cssblock %}

{% endblock %}

<!-------END CSSBLOCK-->

<!-----body block -->
{% block bodyBlock %}

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Master Sales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/newsale">New Sale</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

{% endblock %}
    
<!-----JS block -->
{% block jsblock %}

{% endblock %}